[
  {wishvpn, [

    {dtls_stacks, [
      [{name, "dtls1"},
        {transports, [
          [{side, connect}, {remote_ip, "52.166.233.132"}, {port, 2194}]
        ]}]
    ]},

    {lan_stacks, [
      [{name, "lan1"}, {iface, "tun0"}]
    ]},

    {net_instances, [
      [{name, "net1"}, {lan_stack, "lan1"}]
    ]}
  ]},

  {lager, [
    {colored, true},
    {error_logger_redirect, true},
    {handlers, [
      {lager_console_backend, [{level, debug}]}
    ]},
    {traces, []}
  ]}
].
