[
  {wishvpn, [

    {dtls_stacks, [
      [{name, "dtls0"},
        {transports, [
          [{side, listen}, {ip, "192.168.99.100"}, {port, 2194}]
        ]}]
    ]},

    {lan_stacks, [
      [{name, "lan0"}, {iface, "wpn0"}]
    ]},

    {net_instances, [
      [{name, "net0"}, {lan_stack, "lan0"}]
    ]}
  ]},

  {lager, [
    {colored, true},
    {error_logger_redirect, true},
    {handlers, [
      {lager_console_backend, [{level, debug}]}
    ]},
    {traces, []}
  ]}
].
